<h1> Entries </h1>

<form method="POST" action="/create-post">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Body" name="body">
    <button>Submit</button>
</form>



<ul>
{{#blogEntries}}
        <label>{{user_name}}, {{title}}</label>
        <label>{{body}}</label>
        <input type="hidden" value="{{post_id}}" name="postID">
        <button>Delete</button>

{{/blogEntries}}

</ul>