<h1> Entries </h1>

<form method="POST" action="/create-post">
    <label><input type="text" placeholder="Title" name="title"></label>
   <p><textarea type="text" placeholder="Body" name="body"></textarea></p>
    <button>Submit</button>
</form>



<ul>
{{#blogEntries}}
        <li><label>{{user_name}}, {{title}}</label>
        <label>{{body}}</label></li>
        <input type="hidden" value="{{post_id}}" name="postID">
        <button>Delete</button>

{{/blogEntries}}

</ul>