<html>
    <body>
    <ul>
     
     
   
    {{#movies}}
         <li>

            <label>{{name}}</label>
            <a href="/movies/{{movieId}}"><button>Details</button></a>

        </li>
    {{/movies}}
   
    </ul>
    </body>
</html>